.navbar .navbar-brand:hover {
    color: brown;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: crimson;
    text-decoration: underline;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/60/dd/09/60dd09616cc510bfcb6e9ee30d3cf228.jpg");
    color: rgb(7, 216, 231);
    padding-top: 15px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    background-size: cover;
}

hr {
    border-top: 2px solid rgb(162, 0, 255);
    width: 50%;
    /* border-radius: 5px; */
}

.myfooter {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 0, 191, 0.808);
    color: white;
    text-align: center;
}

h2 {
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: yellow;
}


/* Services section */

.Services {
    text-align: center;
    margin-top: 0.5rem;
    color: rgb(7, 216, 231);
}

.services-column {
    padding: 20px;
    text-align: center;
    margin-top: 1.5rem;
}

.services-content {
    margin-top: 2.0rem;
    text-align: center;
}

#sunimg {
    margin-top: 1.5%;
    margin-left: 1rem;
    width: 20rem;
    height: 20rem;
}

#sunPara {
    margin-top: 3.5%;
    margin-right: 2.5%;
}

#sun_core {
    height: 25rem;
    width: 35rem;
    margin-right: 1rem;
}

.mars {
    color: brown;
    margin-top: 2.5%;
}

.marsimg {
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    height: 25rem;
    width: 25rem;
}

#marsPara {
    margin-top: 3.5%;
    margin-right: 2.5rem;
}

.jup {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: coral;
    font-size: 2.5rem;
}

#jup {
    margin-bottom: 1.0rem;
}

.jupimg {
    margin-right: 1.5rem;
    height: 25rem;
    width: 20rem;
}

#jupPara {
    margin-top: 3.5%;
    margin-right: 2.5rem;
}

#factsuntitle {
    margin-left: 1.5rem;
    color: chartreuse;
}

#factsun {
    margin-right: 1.5rem;
}

li {
    /* list-style-type: square; */
    line-height: 1.8rem;
}

#sunfact,
#marsimg {
    margin-left: 1.5rem;
    height: 20rem;
    width: 45rem;
}

#jupimg {
    margin-left: 1.5rem;
    height: 20rem;
    width: 45rem;
}

#astrobelt {
    margin-bottom: 1.5rem;
    height: 20rem;
    width: 45rem;
}

#Oortimg {
    margin-left: 1.5rem;
    height: 40rem;
    width: 45rem;
}

.carousel-inner {
    width: 45%;
    margin: auto;
}

.center {
    margin-top: 5rem;
}

.footer {
    background-color: rgb(255, 0, 157);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Animated-div */

#animated_div {
    display: block;
    background-image: initial;
    background-color: rgb(117, 148, 1);
    color: rgb(237, 238, 232);
    width: 50px;
    height: 47px;
    background: #2301b9;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    -webkit-animation: animated_div 10s 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    animation: animated_div 5s linear 2s infinite alternate;
}

::-webkit-scrollbar {
    background-color: #001119;
    color: #adb196;
}

::-webkit-scrollbar-corner {
    background-color: #000203;
}

::-webkit-scrollbar-thumb {
    background-color: #005580;
}

::selection {
    background-color: #004daa !important;
    color: #edeee8 !important;
}

@keyframes animated_div {
    0% {
        transform: rotate(0deg);
        left: 0%;
    }
    25% {
        transform: rotate(20deg);
        left: 20%;
    }
    50% {
        transform: rotate(90deg);
        left: 55%;
    }
    55% {
        transform: rotate(135deg);
        left: 97%;
    }
    70% {
        transform: rotate(180deg);
        left: 97%;
        background: #1ec7e6;
    }
    100% {
        transform: rotate(-360deg);
        left: 97%;
    }
}


/*---------------------------- Extra Editing --------------------------------------------------*/

#resume {
    width: 7.7em;
    height: 3.5em;
    background-color: #220ddfbe;
    border-radius: 10px;
}

#rectangle {
    width: 20%;
    height: 6em;
    float: left;
    border: 1px solid #da0d0d;
    border-radius: 10px;
}

.boxed {
    border: 1px solid green;
    float: center;
    width: 77%;
    height: 6em;
    border-radius: 10px;
}

.modals {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(54, 41, 41, 0.8);
    /* Black w/ opacity */
}


/* Modal Content */

.modals-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}

.modal-notify .modal-content {
    border-radius: 3px;
}